@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

*, *::before, *::after { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-optimized {
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  transform: translateZ(0);
}
